# Python
__pycache__/
*.py[cod]
*.egg-info/

# Allow versioned build artifacts
!dist/
!dist/**
!docs/build/
!docs/build/**
!docs/build/html/
!docs/build/html/**

# Sphinx
docs/_build/

# VSCode
.vscode/

# Others
*.log
