# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Sphinx
docs/_build/
docs/build/
docs/build/html/

# Environments
.venv/
env/
ENV/
venv/
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
